body {
    background-color: rgb(31, 30, 30);
    display: grid;
    grid-template-columns: 1fr .1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-auto-flow: ;
    grid-template-areas: ". button . "
                         ". container ."
                         ". . .";
}



#container {
    grid-area: container;
    background-color: rgb(54, 54, 54);
    width: 550px;
    height: 550px;
    display: grid;
}



#div1 {

}

button {
    grid-area: button;
    max-height: 30px;
    max-width: 80px;
}